@import "tailwindcss";

.layout {
    @apply min-h-screen bg-gray-100;

    header {
        @apply border-b border-sky-600 bg-white px-6 py-4;
    }

    main {
        @apply mx-auto grid max-w-7xl grid-cols-1 gap-4 px-6 py-6 md:grid-cols-3 md:gap-6;
    }
}